.banner {
    margin: 8% 15%;
    text-align: center;
}

.banner__subtitulo {
    color: var(--cor-terciaria);
    font-size: 1.35rem;
    font-weight: 600;
}

.banner__titulo {
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 4rem;
}

.banner__texto {
    color: var(--cor-secundaria);
    font-size: 1.7rem;
}