.rodape {
    text-align: center;
    background-color: #F9FAFB;
}

.rodape-titulo {
    margin-bottom: 0;
    padding-top: 7rem;
    font-size: 3em;
    font-weight: 600;
    color: var(--cor-primaria);
}

.rodape-texto {
    margin: 1.5rem 0 3rem 0;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
}

.rodape__container__input {
    display: flex;
    justify-content: center;
}

.rodape-input {
    margin: 0;
    width: 20%;
    padding: 1.4rem 1.35rem;
    border: 1px solid #D0D5DD;
    border-radius: .8rem;
    font-size: 1.35rem;
}

.rodape-input::placeholder {
    font-size: 1.35rem;
    color: var(--cor-secundaria);
}

.rodape-botao {
    margin: 0 0 0 1.5rem;
    padding: 1rem 1.35rem;
    border: 1px solid var(--cor-terciaria);
    border-radius: .8rem;
    background-color: var(--cor-terciaria);
    color: #FFFFFF;
    font-size: 1.35rem;
    font-weight: 500;
}

.rodape-copyright {
    margin: 2.7rem 0 0 0;
    padding-bottom: 7rem;
    font-size: 1.35rem;
    color: #98A2B3;
}